/* Write your CSS here */
.details-page-container {
  background-color: #d91c1f;
  padding: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner {
  width: 100%;
  border-radius: 7px;
  margin-bottom: 10px;
}
.recent-matches-list {
  list-style-type: none;
}
